---
import clsx from "clsx";
import RequestDemo from "./landing/RequestDemo.astro";
import BrandLogo from "./BrandLogo.astro";
const navItems = [ {
	key: "how-it-works",
	name: "how it works",
	url: "/#how-it-works",
}, 
// {
// 	key: "docs",
// 	name: "docs",
// 	url: "/docs",
// }, 
	// {
	//     key: "faq",
	//     name: "FAQs",
	//     url: "/faq"
	// }
];
---

<nav class="flex items-center justify-between">
	<BrandLogo />
	<div class="flex items-center">
		<ul class="items-center mr-3 hidden md:flex">
			{navItems.map((item) => {
				return <li class={clsx("font-semibold text-sm mx-2")}>
					<a href={item.url} class={clsx("hover:underline")}>
						{item.name}
					</a>
				</li>;
			})}
		</ul>
		<RequestDemo />
	</div>
</nav>