---
import clsx from "clsx";

const features = [
	{
		name: "Interactive Infrastructure",
		description:
            "Deploy and monitor your cloud resources in real-time with log analysis and smart debugging.",
		icon: "/assets/images/cloud.svg",
		// image: "/assets/images/cloud-view.webp"
	},
	{
		name: "Real Time Alerts",
		description: "seamlessly integrating with leading platforms like Slack to " +
		"promptly notify you of critical changes in resource status.",
		icon: "/assets/images/alert.svg",
	},
	{
		name: "Observability",
		description: "Effortlessly monitor and analyze real-time metrics such as CPU utilization, RAM " +
		"consumption and disk operations, providing a clear insight into the current state of your infrastructure.",
		icon: "/assets/images/eye.svg",
		// image: "/assets/images/cloud-monitor.webp"
	},
	{
		name: "Multiple Projects and Providers",
		description:
            "Manage multiple projects and services from different providers in one dashboard.",
		icon: "/assets/images/dots.svg",
		// image: "/assets/images/multiple-services.webp",
		// image2: "/assets/images/multiple-projects.webp"
	},
	{
		name: "Cloud Migration",
		description: "Seamlessly replicate or migrate your infrastructure across different " +
		"cloud providers such as AWS, GCP & Azure.",
		icon: "/assets/images/migrate.svg",
		// comingSoon: true,
		// image: "/assets/images/diagnose.webp"
	},
	{
		name: "Smart Debugging",
		description: "Quickly find failing requests and resources using our " +
		"log analysis, helping you identify and trace issues faster.",
		icon: "/assets/images/diagnose.svg",
		comingSoon: false,
	},
];
---

<div class="lg:mx-48 md:mx-20 p-4 mt-10">
	<div class="grid grid-cols-2 gap-4">
		{
			features.map((item) => {
				return (
					<div
						class={clsx(
							"shadow-lg rounded-lg p-8 md:p-10 bg-white col-span-2 text-base",
							"md:col-span-1 col-span-2 relative overflow-hidden",
						)}
					>
						{item.comingSoon && (
							<div class="text-sm font-semibold absolute bg-black text-white px-2 py-1 coming-soon">
                                Coming Soon
							</div>
						)}
						<div class="bg-black rounded-lg p-2 w-10 h-10">
							<img width="40px" height="40px" src={item.icon} alt={item.name + "_icon"} />
						</div>
						<div class="mt-3 font-semibold">{item.name}</div>
						<p class="mt-3">{item.description}</p>
					</div>
				);
			})
		}
	</div>
</div>
