---
import TickIcon from "../commons/TickIcon.astro";
import ContactForm from "./ContactForm.astro";
---

<div class="mt-5 grid grid-cols-2 gap-4">
	<div class="md:mt-24 col-span-2 lg:col-span-1">
		<h1 class="text-3xl font-semibold">
			Interact, Monitor and Manage Your Infrastructure in Real Time
		</h1>
		<p class="my-5">
            Simplify resource management across different platforms such as 
			<strong>AWS, GCP & Azure</strong> with ease.
		</p>
		<!-- <ul class="mt-5 text-base">
			<li class="flex items-cente"><TickIcon /> Saves time</li>
			<li class="flex items-cente"><TickIcon /> Cut unnecessary cost</li>
			<li class="flex items-cente"><TickIcon /> Effecient resource management</li>
			<li class="flex items-cente"><TickIcon /> Smart alerts and AI suggestions</li>
			<li class="flex items-cente"><TickIcon /> Smart debugging</li>
			<li class="flex items-cente"><TickIcon /> Log analysis</li>
		</ul> -->
		<div class="mt-5">
			<ContactForm />
		</div>
	</div>
	<div class="col-span-2 lg:col-span-1 relative mt-10 border-4 border-gray-100 rounded-md">
		<div class="bg-white absolute -top-5 -translate-x-1/2 rounded-full border px-4 py-2 shadow-lg z-10"
			style="left: 50%;"
		>
			<span class="font-bold">AWS</span>
		</div>
		<div id="hero-section-canvas" class="overflow-hidden" style="height: 410px;"></div>
	</div>
</div>

<script>import { loadCanvas } from "../../helpers/konva";

	loadCanvas("hero-section-canvas", {
		scale: .8,
		animate: true
	});
</script>