---
import { requestDemoApi } from "../api";
import Features from "../components/landing/Features.astro";
import HeroSection from "../components/landing/HeroSection.astro";
import HowItWorks from "../components/landing/howItWorks/HowItWorks.astro";
import { SEO } from "../helpers/seo";
import Footer from "../layouts/Footer.astro";
import Mainlayout from "../layouts/MainLayout.astro";

// Doesn't work on cloudflare
// const email = Astro.url.searchParams.get("invitee_email");
// const name = Astro.url.searchParams.get("invitee_full_name");
// const callScheduledAt = Astro.url.searchParams.get("event_start_time");
// let error = "";
// if (name && email && callScheduledAt) {
// 	try {
// 		console.log("call scheduled.. updating database.");
// 		await requestDemoApi({
// 			email,
// 			name,
// 			callScheduledAt: new Date(callScheduledAt) 
// 		});
// 	} catch (err) {
// 		console.error("Unable to schedule call", err);
// 		error = "Unable to schedule call, Please try again later";
// 	}
// }
---

<Mainlayout
	title={SEO.home.title}
	keywords={SEO.home.keywords}
	description={SEO.home.description}
	url=""
>
	<div class="lg:mx-48 md:mx-20 p-4">
		<section id="hero">
			<HeroSection />
		</section>
	</div>
	<section id="features" class="mt-10 pb-10 slate-gradient">
		<h2 class="text-center text-3xl font-bold pt-10">Features</h2>
		<Features />
	</section>
	<section id="how-it-works" class="mt-10 pb-10">
		<h2 class="text-center text-3xl font-bold pt-10">How it works</h2>
		<div class="lg:mx-48 md:mx-20 p-4 mt-5">
			<HowItWorks />
		</div>
	</section>
	<Footer />
</Mainlayout>
<script>import { requestDemoApi } from "../api";

	const urlSearchParams = new URLSearchParams(window.location.search);
	const params = Object.fromEntries(urlSearchParams.entries());
	const scheduleCallAt = params.event_start_time;
	const email = params.invitee_email;
	const name = params.invitee_full_name;
	if (scheduleCallAt && email && name) {
		(async () => {
			try {
				console.log("call scheduled.. updating database");
				await requestDemoApi({
					name,
					email,
					callScheduledAt: new Date(scheduleCallAt)
				});
			} catch (err) {
				console.error("Unable to schedule call.", err);
				alert("We were unable to schedule your call, please try again later.");
			}
		})();
	}
</script>