---
import Spinner from "../components/commons/Spinner.astro";
import { SEO } from "../helpers/seo";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
	title={SEO.requestDemo.title}
	keywords={SEO.requestDemo.keywords}
	description={SEO.requestDemo.description}
	url="/request-demo"
>
	<section class="lg:mx-48 md:mx-20 p-4 mt-5" id="request-demo">
		<div class="mt-5 flex justify-center" id="request-demo-popup">
			<div class="shadow-lg rounded-md bg-cream" id="form-container">
				<div
					class="text-base font-semibold slate-gradient rounded-md p-3"
				>
                    Request a Demo
				</div>
				<div class="p-5 mt-5">
					<p class="text-base">
                        A member of our team will walk you through the platform
                        and demonstrate how our solution can help!
					</p>
					<form id="request-demo-form" method="post">
						<div class="mt-3">
							<label for="name" class="text-base font-semibold"
							><span class="text-red-600">*</span> Name:</label
							>
							<input
								name="name"
								class="w-full text-sm p-3 rounded-md mt-3"
								placeholder="Start typing..."
								id="name"
								required
							/>
						</div>
						<div class="mt-3">
							<label for="email" class="text-base font-semibold"
							><span class="text-red-600">*</span> Email:</label
							>
							<input
								name="email"
								class="w-full text-sm p-3 rounded-md mt-3"
								placeholder="Start typing..."
								id="email"
								type="email"
								required
							/>
						</div>
						<div class="mt-5">
							<button
								id="submit-btn"
								type="submit"
								class="bg-site-gradient text-white font-semibold text-sm px-4 py-3 rounded-full"
							>
                                Schedule call
							</button>
						</div>
						<div class="mt-3 text-sm text-red-600" id="error"></div>
					</form>
				</div>
			</div>
		</div>
		<div class="flex justify-center">
			<div id="loading" class="flex items-center hidden">Loading calendar <Spinner /></div>
		</div>
		<div id="calendly-embed" style="min-width:320px;height:700px;">
		</div>
	</section>
</MainLayout>

<script
	type="text/javascript"
	src="https://assets.calendly.com/assets/external/widget.js"></script>
<script>
    import { requestDemoApi } from "../api";
    const errors: any = {
    	E_102: "You have already scheduled a call with this email. Please reply to the email for modifications.",
    	E_101: "The email you entered is not valid.",
    };
    const loadingEl = document.getElementById("loading");
    const formContainer = document.getElementById("form-container");
    const errorEl = document.getElementById("error") as HTMLDivElement;
    const submitBtn = document.getElementById(
    	"submit-btn",
    ) as HTMLButtonElement;
    const form = document.getElementById("request-demo-form");
    const nameEl = document.getElementById("name") as HTMLInputElement;
    const emailEl = document.getElementById("email") as HTMLInputElement;
    const onSubmit = async (e: SubmitEvent) => {
    	e.preventDefault();
    	if (!nameEl || !emailEl || !submitBtn) {
    		return;
    	}
    	try {
    		if (errorEl) {
    			errorEl.innerText = "";
    		}
    		const name = nameEl.value;
    		const email = emailEl.value;
    		if (name === "" || email === "") {
    			alert("Please fill all required fields");
    			return;
    		}
    		submitBtn.innerText = "Saving...";
    		submitBtn.disabled = true;
    		const resp = await requestDemoApi({
    			email,
    			name,
    		});
    		if (!resp.success) throw resp.data;
    		console.log("register success, loading calendar..");
    		if (loadingEl) loadingEl.classList.remove("hidden");
    		Calendly.initInlineWidget({
    			url: "https://calendly.com/cloudfriendly/demo-call",
    			parentElement: document.getElementById("calendly-embed"),
    			prefill: {
    				name,
    				email,
    			},
    		});
    		if (loadingEl) {
    			const timeout = setTimeout(() => {
    				loadingEl.classList.add("hidden");
    				clearTimeout(timeout);
    			}, 1500);
    		}
    		if (formContainer) formContainer.style.display = "none";
    	} catch (err: any) {
    		console.error("Unable to save:", err);
    		let errorMessage = "";
    		if (errors[err?.code]) {
    			errorMessage = errors[err.code];
    		} else {
    			errorMessage = "Unknown error occured, please try again later.";
    		}
    		if (errorEl) {
    			errorEl.innerText = errorMessage;
    		} else {
    			alert(errorMessage);
    		}
    	}
    	submitBtn.innerText = "Schedule call";
    	submitBtn.disabled = false;
    	nameEl.innerText = "";
    	emailEl.innerText = "";
    };
    if (!form) {
    	console.error("Unable to initialize form element");
    } else {
    	form.onsubmit = onSubmit;
    }
</script>
