---
	interface Props {
		email: string;
		username: string;
	}
const { email, username } = Astro.props;
---

<div id="calendly-embed" style="min-width:320px;height:700px;"></div>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>

<script define:vars={{
	email,
	username 
}}>
// eslint-disable-next-line no-undef
Calendly.initInlineWidget({
	url: "https://calendly.com/cloudfriendly/demo-call",
	parentElement: document.getElementById("calendly-embed"),
	prefill: {
		name: username,
		email
	}
});
</script>
